# Grouping Data & Aggregating Variables

## 01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## 02. Importing data

In [6]:
# Import orders_products_merged_updated_v2 data from Prepared Data folder
ords_prods_merge = pd.read_pickle(r'C:\Users\lrutl\OneDrive\Desktop\Python Fundamentals for Data Analysts\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_merged_updated_v2.pkl')

In [7]:
path = r'C:\Users\lrutl\OneDrive\Desktop\Python Fundamentals for Data Analysts\Instacart Basket Analysis'

In [8]:
ords_prods_merge.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,Busiest days,busiest_period_of_day,max_order,loyalty_flag
0,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,2 slowest days,Average orders,10,New customer
1,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,2 slowest days,Most orders,10,New customer
2,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,2 slowest days,Average orders,10,New customer
3,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,2 slowest days,Most orders,10,New customer
4,3367565,1,6,2,7,19.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,regular,Average orders,10,New customer

In [9]:
ords_prods_merge.shape

(30328763, 20)

## 2.

In [10]:
# Find the mean number of orders by department
ords_prods_merge.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1                16.559358
2                18.413176
3                18.279600
4                18.915890
5                16.497751
6                17.609390
7                18.303975
8                16.383301
9                17.022963
10               21.227447
11               17.311768
12               16.953613
13               17.727470
14               17.898097
15               17.290123
16               18.757796
17               16.808683
18               20.336389
19               18.258620
20               17.578959
21               23.644477

## 3.

### These results include all departments instead of those only in the subset. The means are more accurate because they include all data instead of the limited subset of data.

## 4.

In [11]:
# 1. Split data into groups based on "user_id" column.
# 2. Apply the transform() function on the “order_number” column to generate the maximum orders for each user.
# 3. Create a new column, “max_order,” into which you’ll place the results of your aggregation.
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['customer_id'])['order_number'].transform(np.max)

In [13]:
ords_prods_merge.head(15)

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,Busiest days,busiest_period_of_day,max_order,loyalty_flag
0,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,2 slowest days,Average orders,10,New customer
1,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,2 slowest days,Most orders,10,New customer
2,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,2 slowest days,Average orders,10,New customer
3,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,2 slowest days,Most orders,10,New customer
4,3367565,1,6,2,7,19.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,regular,Average orders,10,New customer
5,550135,1,7,1,9,20.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,2 busiest days,Most orders,10,New customer
6,3108588,1,8,1,14,14.0,196,2,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,2 busiest days,Most orders,10,New customer
7,2295261,1,9,1,16,0.0,196,4,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,2 busiest days,Most orders,10,New customer
8,2550362,1,10,4,8,30.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,2 slowest days,Average orders,10,New customer
9,2968173,15,15,1,9,7.0,196,2,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,2 busiest days,Most orders,22,Regular customer
10,1870022,15,17,2,16,8.0,196,6,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,regular,Most orders,22,Regular customer
11,1911383,15,18,2,11,7.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,regular,Most orders,22,Regular customer
12,2715276,15,21,1,9,7.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,2 busiest days,Most orders,22,Regular customer
13,487368,15,22,1,10,14.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,2 busiest days,Most orders,22,Regular customer
14,2293453,19,2,5,14,6.0,196,3,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,regular,Most orders,9,New customer

In [14]:
# Create flag to assign a "loyalty" label to a user ID based on corresponding max order value.
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [15]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [16]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [17]:
ords_prods_merge.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,Busiest days,busiest_period_of_day,max_order,loyalty_flag
0,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,2 slowest days,Average orders,10,New customer
1,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,2 slowest days,Most orders,10,New customer
2,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,2 slowest days,Average orders,10,New customer
3,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,2 slowest days,Most orders,10,New customer
4,3367565,1,6,2,7,19.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,regular,Average orders,10,New customer

In [18]:
# Check loyalty flag counts
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15081691
Loyal customer      10095381
New customer         5151691
Name: loyalty_flag, dtype: int64

## 5.

In [20]:
# Mean, min, max for loyalty flag groups
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.402162  1.0  99999.0
New customer      13.396333  1.0  99999.0
Regular customer  12.546842  1.0  99999.0

## 6.

In [29]:
# Create average price by customer column
ords_prods_merge['average_price'] = ords_prods_merge.groupby(['customer_id'])['prices'].transform(np.mean)

In [32]:
ords_prods_merge.head(100)

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,aisle_id,department_id,prices,price_range_loc,busiest_day,Busiest days,busiest_period_of_day,max_order,loyalty_flag,average_price
0,2398795,1,2,3,7,15.0,196,1,1,both,...,77,7,9.0,Mid-range product,Regularly busy,2 slowest days,Average orders,10,New customer,6.372222
1,473747,1,3,3,12,21.0,196,1,1,both,...,77,7,9.0,Mid-range product,Regularly busy,2 slowest days,Most orders,10,New customer,6.372222
2,2254736,1,4,4,7,29.0,196,1,1,both,...,77,7,9.0,Mid-range product,Least busy,2 slowest days,Average orders,10,New customer,6.372222
3,431534,1,5,4,15,28.0,196,1,1,both,...,77,7,9.0,Mid-range product,Least busy,2 slowest days,Most orders,10,New customer,6.372222
4,3367565,1,6,2,7,19.0,196,1,1,both,...,77,7,9.0,Mid-range product,Regularly busy,regular,Average orders,10,New customer,6.372222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1548901,546,4,3,18,23.0,196,1,0,both,...,77,7,9.0,Mid-range product,Regularly busy,2 slowest days,Average orders,6,New customer,7.788889
96,668870,591,2,1,13,7.0,196,1,0,both,...,77,7,9.0,Mid-range product,Regularly busy,2 busiest days,Most orders,7,New customer,6.521429
97,2483801,626,2,5,15,2.0,196,10,0,both,...,77,7,9.0,Mid-range product,Regularly busy,regular,Most orders,94,Loyal customer,7.454193
98,2741904,626,6,1,14,5.0,196,12,1,both,...,77,7,9.0,Mid-range product,Regularly busy,2 busiest days,Most orders,94,Loyal customer,7.454193
99,2138689,626,10,1,10,4.0,196,5,1,both,...,77,7,9.0,Mid-range product,Regularly busy,2 busiest days,Most orders,94,Loyal customer,7.454193

In [35]:
# Create flag to assign a "average_spending" label to a user ID based on corresponding average product price value.
ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'average_spending'] = 'Low spender'

In [36]:
ords_prods_merge.loc[ords_prods_merge['average_price'] >= 10, 'average_spending'] = 'High spender'

In [37]:
ords_prods_merge['average_spending'].value_counts(dropna = False)

Low spender     29730531
High spender      598232
Name: average_spending, dtype: int64

## 7.

In [38]:
# Create column for average_days_since_prior_order by user
ords_prods_merge['average_days_since_prior_order'] = ords_prods_merge.groupby(['customer_id'])['days_since_prior_order'].transform(np.mean)

In [40]:
ords_prods_merge.head(100)

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,prices,price_range_loc,busiest_day,Busiest days,busiest_period_of_day,max_order,loyalty_flag,average_price,average_spending,average_days_since_prior_order
0,2398795,1,2,3,7,15.0,196,1,1,both,...,9.0,Mid-range product,Regularly busy,2 slowest days,Average orders,10,New customer,6.372222,Low spender,20.259259
1,473747,1,3,3,12,21.0,196,1,1,both,...,9.0,Mid-range product,Regularly busy,2 slowest days,Most orders,10,New customer,6.372222,Low spender,20.259259
2,2254736,1,4,4,7,29.0,196,1,1,both,...,9.0,Mid-range product,Least busy,2 slowest days,Average orders,10,New customer,6.372222,Low spender,20.259259
3,431534,1,5,4,15,28.0,196,1,1,both,...,9.0,Mid-range product,Least busy,2 slowest days,Most orders,10,New customer,6.372222,Low spender,20.259259
4,3367565,1,6,2,7,19.0,196,1,1,both,...,9.0,Mid-range product,Regularly busy,regular,Average orders,10,New customer,6.372222,Low spender,20.259259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1548901,546,4,3,18,23.0,196,1,0,both,...,9.0,Mid-range product,Regularly busy,2 slowest days,Average orders,6,New customer,7.788889,Low spender,28.333333
96,668870,591,2,1,13,7.0,196,1,0,both,...,9.0,Mid-range product,Regularly busy,2 busiest days,Most orders,7,New customer,6.521429,Low spender,2.500000
97,2483801,626,2,5,15,2.0,196,10,0,both,...,9.0,Mid-range product,Regularly busy,regular,Most orders,94,Loyal customer,7.454193,Low spender,2.986233
98,2741904,626,6,1,14,5.0,196,12,1,both,...,9.0,Mid-range product,Regularly busy,2 busiest days,Most orders,94,Loyal customer,7.454193,Low spender,2.986233
99,2138689,626,10,1,10,4.0,196,5,1,both,...,9.0,Mid-range product,Regularly busy,2 busiest days,Most orders,94,Loyal customer,7.454193,Low spender,2.986233

In [41]:
# Create flag to assign a "customer_frequency" label to a user ID based on corresponding average_days_since_prior_order column.
ords_prods_merge.loc[ords_prods_merge['average_days_since_prior_order'] > 20, 'customer_frequency'] = 'Non-frequent customer'

In [42]:
ords_prods_merge.loc[(ords_prods_merge['average_days_since_prior_order'] > 10) & (ords_prods_merge['average_days_since_prior_order'] <= 20), 'customer_frequency'] = 'Regular customer'

In [43]:
ords_prods_merge.loc[ords_prods_merge['average_days_since_prior_order'] <= 10, 'customer_frequency'] = 'Frequent customer'

In [44]:
# Check customer_frequency flag counts
ords_prods_merge['customer_frequency'].value_counts(dropna = False)

Frequent customer        15895744
Regular customer         11571006
Non-frequent customer     2862013
Name: customer_frequency, dtype: int64

## 9.

In [49]:
# Export ords_prods_merge as pickle file
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_updated_v3.pkl'))